/* Main themes */

.app {
  text-align: center;
  min-height: 100vh;
}

form, 
button {
  outline: none;
}

button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
  border-radius: 5px;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 3px;
  background: none;
}

i {
  padding: 15px;
}

.dark {
  background: #42275a;  
  background: -webkit-linear-gradient(to right, #734b6d, #42275a);  
  background: linear-gradient(to right, #734b6d, #42275a); 
  color: #120033;
}

.light {
  background: #2BC0E4; 
  background: -webkit-linear-gradient(to right, #f2f3ee, #2BC0E4); 
  background: linear-gradient(to right, #f2f3ee, #2BC0E4); 
  color: #2d4050;
}

.navDark {
  background: #42275a; 
  background: -webkit-linear-gradient(to right, #734b6d, #42275a);  
  background: linear-gradient(to right, #734b6d, #42275a); 
  display: flex;
  justify-content: space-around;
  padding: 15px;
  padding-top: 0;
}

.navLight {
  background: #2BC0E4;  
  background: -webkit-linear-gradient(to right, #f2f3ee, #2BC0E4);  
  background: linear-gradient(to right, #f2f3ee, #2BC0E4); 
  display: flex;
  justify-content: space-around;
  padding: 15px;
  padding-top: 0;
}

/* Top navs */

.menuLeftLight {
  background: #f7fafb;
  padding: 41px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 15px;
  box-shadow: 4px 6px #96928b38;
  padding-bottom: 0;
}


.menuLeftDark {
  background: #f5eaf5;
  padding: 41px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 15px;
  box-shadow: 4px 6px #5d3c65;
  padding-bottom: 0;
}

.menuCentralLight {
  background: #f7fafb;
  padding: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 4px 6px #96928b38;
  padding-bottom: 0;
}

.menuCentralDark {
  background: #f5eaf5;
  padding: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 4px 6px #5d3c65;
  padding-bottom: 0;
}

.weatherAppLight {
  padding: 20px;
  font-size: 15px;
  font-weight: 300;
  min-width: 340px;
  background: #f7fafb;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 4px 6px #96928b38;
}

.weatherAppDark {
  padding: 20px;
  font-size: 15px;
  font-weight: 300;
  min-width: 340px;
  background: #f5eaf5;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 4px 6px #5d3c65;
}

/* Toggle button */


.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  margin: -5px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #96928c;
  transition: ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #710671;
}

.toggle:checked:before {
  left: 32px;
}

/* Add/plus button */

.addIcon {
  font-size: 65px;
}

.formBtnLight {
  border: none;
  background: #f7fafb;
  color: #58d63b;
}

.formBtnLight:hover {
  color: #2aaf0c;
}

.formBtnDark {
  border: none;
  background: #f5eaf5;
  color: #c5316c;
}

.formBtnDark:hover {
  color: #7D0E3B;
}

.addFormLight {
  position: fixed;
  margin: 30px;
  margin-left: 0;
  background: #f7fafb;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.addFormDark {
  position: fixed;
  margin: 30px;
  margin-left: 0;
  background: #f5eaf5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Opening/filler container */

.fillerLight {
  min-height: 64vh;
  max-width: 86%;
}

.fillerDark {
  min-height: 64vh;
  max-width: 86%;
  color: white;
}

.p3 {
  margin-top: 80px;
}

.openingInfo {
  margin: 0;
}

i.white {
  font-size: 25px;
  color: white;
}

i.yellow {
  font-size: 25px;
  color: #ffa901;
}

/* Main container */

.notesContainer {
  display: grid;
  grid-template-columns: 1fr 7fr 0.1fr;
  padding: 15px;
  padding-left: 0;
}


/* Notes container */


.notesBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  min-height: 538px;
  padding-top: 20px;
}


/* Individual sticky notes */

.noteBox {
  display: inline-block;  
  background-color: yellow;
  line-height: 1;    
  text-align:center;     
  width: 250px;    
  min-height: 210px;
  max-height: 210px;
  margin: 25px; 
  padding-top: 20px;
  position: relative;   
  border:1px solid #E8E8E8;  
  border-top: 60px solid #fdfd86;
  font-size: 22px;      
}

.noteBox:nth-child(2n) {
  transform: rotate(3deg);
  border-bottom-right-radius: 60px 5px;
}

.noteBox:nth-child(odd) {
  transform: rotate(-2deg);
  border-bottom-left-radius: 60px 5px;
}

/* Sticky notes content */

.contentDiv {
  overflow-wrap: break-word;
  padding: 10px;
  overflow: scroll;
  overflow-y: scroll;
}

textarea {
  height: 140px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
  background: none;
  font-size: 25px;
  width: 220px;
  font-family: 'Mansalva', cursive;
}

/* Delete button on sticky notes */

.noteBtn{
  background: none;
  border: 0;
  outline: none;
  color: #f35437;
  font-size: 20px;
}

.noteBtn:hover {
  font-weight: bolder;
}

/* Footer styling */

.footLight {
  padding: 20px;
  background: #f7fafb;
  font-size: 14px;
  font-weight: 300;
}

.footDark {
  padding: 20px;
  background: #f5eaf5;
  font-size: 14px;
  font-weight: 300;
}


/* Greeting container(top left) */

.p1 {
  font-size: 40px;
  font-weight: 300;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 0;
  }

.greeting {
  font-size: 35px;
}

.greeting2 {
font-size: 15px;
font-weight: 400;
padding: 5px;
}

.emoji {
  font-size: 33px;
  padding: 5px;
}

.hrLight {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #68ca2e, rgba(0, 0, 0, 0));
}

.hrDark {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7D0E3B, rgba(0, 0, 0, 0));
}

/* Clock container */

.clock {
  border: 2px double white;
  padding: 20px;
  font-weight: 200;
  font-size: 30px;
}
  
.sun {
  color: #ffa900;
}

.moon {
  color: #f7e800;
}

/* Weather app container */

.weatherDesc {
  display: flex;
  justify-content: space-around;
}


.weatherContainer {
  display: flex;
  justify-content: space-evenly;
}

.emoji2 {
  font-size: 40px
}

.p2 {
  font-size: 15px;
  font-weight: 400;
  padding-right: 5px;
}

.tempP {
  padding-right: 5px;
}

.weatherIcons {
  display: flex;
}


.iconWeather {
  padding: 6px;
  color: #00c8ec;
}


.locationBtnLight {
  padding: 5px;
  background: none;
  padding: 10px;
  float: right;
  color: #2d4050;
  font-weight: 400;
  padding-top: 0;
}

.locationBtnLight:hover {
  color: #96928c;
}

.locationBtnDark {
  padding: 5px;
  background: none;
  padding: 10px;
  float: right;
  color: #120033;
  font-weight: 400;
  padding-top: 0;
}

.locationBtnDark:hover {
  color: #96928c;
}

i.locationIcon {
  font-size: 30px;
  padding: 2px;
  color: #1c87e8;
  }

.errorMessage {
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
}


/* Forms styling (weather app) */

.form1 {
  display: flex;
  padding-top: 15px;
  align-items: center;
}

.weatherForms {
  display: flex;
  align-items: flex-end;
}

.formOneLight {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 5px;
  border: 1px solid #68ca2e;
  padding: 12px;
  margin: 1px;
  font-size: 12px;
  outline: none;
  background: none;
}

.formTwoLight {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 5px;
  border: 1px solid #68ca2e;
  padding: 12px;
  margin: 1px;
  font-size: 12px;
  outline: none;
  background: none;
}

.formOneDark {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 5px;
  border: 1px solid #710670;
  padding: 12px;
  margin: 1px;
  font-size: 12px;
  outline: none;
  background: none;
}

.formTwoDark {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 5px;
  border: 1px solid #710670;
  padding: 12px;
  margin: 1px;
  font-size: 12px;
  outline: none;
  background: none;
}

/* Form buttons(weather app) */

.checkBtnLight {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #5ac50f;
  color: white;
  border-radius: 5px;
  border: 1px solid #5ac50f;
  padding: 2px 2px;
}

.checkBtnLight:hover {
  background-color: white;
  color: #5ac50f;
}

.cancelBtnLight {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #dc3535;
  color: white;
  border-radius: 5px;
  border: 1px solid #dc3535;
  padding: 2px 2px;
}

.cancelBtnLight:hover {
  background-color: white;
  color: #dc3535;
}

.checkBtnDark {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #5ac50f;
  color: white;
  border-radius: 5px;
  border: 1px solid #5ac50f;
  padding: 2px 2px;
}

.checkBtnDark:hover {
  background-color: #9cd277;
  color: white;
}

.cancelBtnDark {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #dc3535;
  color: white;
  border-radius: 5px;
  border: 1px solid #dc3535;
  padding: 2px 2px;
}

.cancelBtnDark:hover {
  background-color: #ff8080;
  color: white;
}
  
 

/* @Media */  


@media screen and (max-width: 2000px) {

  .notesBox {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

}

@media screen and (max-width: 1650px) {

  .notesBox {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

@media screen and (max-width: 1400px) {

  .notesBox {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
  

@media screen and (max-width: 1050px) {

  .notesBox {
    grid-template-columns: 1fr 1fr;
  }

  .navLight {
    display: grid;
  }

  .navDark {
    display: grid;
  }

  .clock {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .menuLeft {
    padding-bottom: 0;
  }

  .menuLeftLight, 
  .menuLeftDark, 
  .menuCentralLight, 
  .menuCentralDark {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .fillerLight, 
  .fillerDark {
    max-width: 60% !important;
    margin: 0 auto;
  }

  .openingInfo {
    margin: 30px !important;
  }
    
}

@media screen and (max-width: 750px) {
  .notesBox {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .addIcon {
    font-size: 55px;
  }

  .notesContainer {
    grid-template-columns: 1fr 7fr;
    padding-right: 0;
  }

}
